@tailwind base;
@tailwind components;
@tailwind utilities;


#cheatsheet-link {
  display: none;
  position: fixed;
  right: 120px;
  top: 5px;
  z-index: 10;
  margin: 10px 20px;
}

#flip-mode {
  display: none;
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 10;
  font-size: large;
  padding: 10px 20px;
  margin: 5px 0;
}

.iPadShowKeyboard {
  right: 130px !important;
}

#view-panel {
  width: 70vw;
}

#features {
  /*position: fixed;*/
  bottom: 0;
}

#viewer {
  min-height: 80vh;
}

@media only screen and (max-height: 600px), only screen and (max-width: 600px), only screen and (max-width: 767px), only screen and (max-aspect-ratio: 1/2) {
  .settings,
  .desktop {
    display: none;
  }
}

/* 
      @media only screen and ((max-width: 767px) or (max-height: 400px)) {
        */

@media only screen and (max-width: 767px), only screen and (max-aspect-ratio: 1/2) {
  #cheatsheet-link {
    display: block;
  }

  #flip-mode {
    display: block;
  }

  #monacoEditor {
    flex-grow: 1;
  }

  #monacoEditor,
  #viewer {
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
  }

  #viewer {
    height: calc(100vh - 55px);
  }

  .logs-container {
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    left: 0;
    z-index: 1;
  }

  .logs-container pre {
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 12px;
  }

  #viewer {
    z-index: 0;
  }

  #viewer.focused {
    z-index: 3;
  }
}

/**********************************************************/

/* MONACO EDITOR */

/**********************************************************/

#monacoEditor {
  flex-grow: 1;
}

.minimap.slider-mouseover {
  height: 80vh !important;
  bottom: 0;
}

.monaco-editor {
}

.overflow-guard,
  .monaco-scrollable-element,
  .monaco-editor-background {
  background-color: transparent !important;
}

#monacoEditor {
  z-index: 0;
}

/**********************************************************/
/* Part chooser overlay
/**********************************************************/

#nav-overlay {
  height: 100vh;
  width: 100vw;
  /* Stay in place */
  position: fixed;
  top: 80px;
  /* Sit on top */
  z-index: 2;
  /* Disable horizontal scroll */
  overflow-x: hidden;
  transition: 0.2s;
}

#main-page {
  height: 100vh;
  width: 100vw;
  /* Stay in place */
  position: fixed;
  left: 0;
  top: 0;
  /* Sit on top */
  z-index: 1;
  /* Disable horizontal scroll */
  overflow: hidden;
}
/* When the height of the screen is less than 450 pixels, 
change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*********************************************************************/

/* Part gallery grid */

/* From https://www.imarketinx.de/artikel/responsive-image-gallery-with-css-grid.html */

/*********************************************************************/

.gallery-frame {
  width:134px;
  height:146px;
  padding: .5rem;
  font-size: 1.0rem;
  text-align: center;
  background:var(--color-bg);
  color: var(--color-text-primary);
}

/* The Images */

.gallery-img {
  width:128px;
  height:128px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

#miniviewer {
  top:-500px;
  left:-500px;
  position:absolute;
  display:block;
  width:128px;
  height:128px;
}

/*************************************************************************/

/* MORE TAB STUFF */

/*************************************************************************/

.tab-content {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: var(--tab-bg-color);
  padding: 20px;
}