@tailwind base;



@tailwind components;
@tailwind utilities;


body {
}

#controlArea {
  width: 30vw;
  min-width: 20vw;
  /* height: 100vh; */
}

#cheatsheet-link {
  display: none;
  position: fixed;
  right: 120px;
  top: 5px;
  z-index: 10;
  margin: 10px 20px;
}

#flip-mode {
  display: none;
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 10;
  font-size: large;
  padding: 10px 20px;
  margin: 5px 0;
}

.iPadShowKeyboard {
  right: 130px !important;
}

#view-panel {
  width: 70vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#run,
#kill {
  padding: 5px;
  margin-top: 5px;
}


.text {
  padding: 5px 0 5px 0;
}

.text-fragment {
  padding: 0 10px 0 10px;
  align-self: center;
}

.logs-container {
  overflow-y: scroll;
  height: calc(min(200px, 30vh));
  position: relative;
}

.deep-link {
  position: absolute;
  top: 5px;
  right: 5px;
}

#features {
  /*position: fixed;*/
  bottom: 0;
}

.spacer {
  flex-grow: 1;
}

.title {
  text-align: center;
  width: 100%;
}

#viewer {
  min-height: 80vh;
}

@media only screen and (max-height: 600px), only screen and (max-width: 600px), only screen and (max-width: 767px), only screen and (max-aspect-ratio: 1/2) {
  .settings,
  .desktop {
    display: none;
  }
}

/* 
      @media only screen and ((max-width: 767px) or (max-height: 400px)) {
        */

@media only screen and (max-width: 767px), only screen and (max-aspect-ratio: 1/2) {
  #cheatsheet-link {
    display: block;
  }

  #flip-mode {
    display: block;
  }

  #monacoEditor {
    flex-grow: 1;
  }

  #monacoEditor,
  #viewer {
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
  }

  #viewer {
    height: calc(100vh - 55px);
  }

  .logs-container {
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    left: 0;
    z-index: 1;
  }

  .logs-container pre {
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 12px;
  }

  #viewer {
    z-index: 0;
  }

  #viewer.focused {
    z-index: 3;
  }
}

/**********************************************************/

/* MONACO EDITOR */

/**********************************************************/

#monacoEditor {
  flex-grow: 1;
}

.minimap.slider-mouseover {
  height: 80vh !important;
  bottom: 0;
}

.monaco-editor {
}

.overflow-guard,
  .monaco-scrollable-element,
  .monaco-editor-background {
  background-color: transparent !important;
}

#monacoEditor {
  z-index: 0;
}

/**********************************************************/
/* Part chooser overlay
/**********************************************************/

.overlay {
  height: 100vh;
  width: 100vw;
  /* Stay in place */
  position: fixed;
  left: 0;
  top: 0;
  /* Sit on top */
  z-index: 2;
  /* Disable horizontal scroll */
  overflow-x: hidden;
  transition: 0.2s;
}

/* The hero image */

.hero-image {
  display:block;
  background-image: url("assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;
  position: relative;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*********************************************************************/

/* Part gallery grid */

/* From https://www.imarketinx.de/artikel/responsive-image-gallery-with-css-grid.html */

/*********************************************************************/

/* First the Grid */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 0.0rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */

.gallery-frame {
  width:134px;
  height:146px;
  padding: .5rem;
  font-size: 1.0rem;
  text-align: center;
  background:var(--color-bg);
  color: var(--color-text-primary);
}

/* The Picture Frame */

.gallery-frame {
  width:134px;
  height:146px;
  padding: .5rem;
  font-size: 1.0rem;
  text-align: center;
  background:var(--color-bg);
  color: var(--color-text-primary);
}

/* The Images */

.gallery-img {
  width:128px;
  height:128px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

/*************************************************************************/

/* MORE TAB STUFF */

/*************************************************************************/

.tabs {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 500px;
}

.tabs label {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: var(--color-bg-secondary);
  font-weight: bold;
  transition: background ease 0.1s;
  border-radius: 8px 8px 0px 0px;
}

.tabs .tabx {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: var(--tab-bg-color);
  padding: 20px;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: var(--tab-checked-bg);
}

.tabs input[type="radio"]:checked + label + .tabx {
  display: block;
}

@media (max-width: 465px) {
  .tabs .tabx,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}

#miniviewer {
  top:-500px;
  left:-500px;
  position:absolute;
  display:block;
  width:128px;
  height:128px;
}
