:root { 
  --head-bg-color:rgb(109, 137, 166);
  --body-bg-color:var(--head-bg-color);
  --nav-bg-color:var(--head-bg-color);
  --work-bg-color:blue;
  --log-bg-color:rgb(255,128,77);
  --part-finder-bg: rgba(109,137,166, 1.0);
  --part-finder-frame: rgb(88, 110, 134);
  --part-finder-text: rgb(200,200,200);
  --editor-bg-color: rgba(255, 255, 255, 0.7);
  --tab-bg-color:rgb(128,128,128);
  --tab-label-bg:rgb(99,99,150);
  --tab-checked-bg:rgb(77,120,155);
}

body {
  margin: 0;
  /* overflow: hidden; */
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  background:var(--body-bg-color);
}

html {
  height: -webkit-fill-available;
}

.root {
  position: fixed;
  left: 0;
  top: 100;
  width: 100vw;
  height: 100vh;
}

#editor-panel,
#controlArea {
  min-width: 40vw;
  padding: 10px;
  background: var(--nav-bg-color);
  /* height: 100vh; */
}

#cheatsheet-link {
  display: none;
  position: fixed;
  right: 120px;
  top: 5px;
  z-index: 10;
  margin: 10px 20px;
}

#flip-mode {
  display: none;
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 10;
  font-size: large;
  padding: 10px 20px;
  margin: 5px 0;
}

.iPadShowKeyboard {
  right: 130px !important;
}

#view-panel {
  width: 70vw;
}

#editor-panel {
  width: 30vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#run,
#kill {
  padding: 5px;
  margin-top: 5px;
}

.button {
  margin-right: 10px;
}

.text {
  padding: 5px 0 5px 0;
}

.text-fragment {
  padding: 0 10px 0 10px;
  align-self: center;
}

.logs-container {
  overflow-y: scroll;
  height: calc(min(200px, 30vh));
  position: relative;
}

.deep-link {
  position: absolute;
  top: 5px;
  right: 5px;
}

#features {
  /*position: fixed;*/
  bottom: 0;
}

.spacer {
  flex-grow: 1;
}

.title {
  text-align: center;
  width: 100%;
  background: var(--head-bg-color);
}

#viewer {
  min-height: 80vh;
}

@media only screen and (max-height: 600px),
only screen and (max-width: 600px),
only screen and (max-width: 767px),
only screen and (max-aspect-ratio: 1/2) {

  .settings,
  .desktop {
    display: none;
  }
}

/* 
      @media only screen and ((max-width: 767px) or (max-height: 400px)) {
        */
@media only screen and (max-width: 767px),
only screen and (max-aspect-ratio: 1/2) {

  #cheatsheet-link {
    display: block;
  }

  #flip-mode {
    display: block;
  }
#monacoEditor {
  flex-grow: 1;
}


  #monacoEditor,
  #viewer {
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
  }

  #viewer {
    height: calc(100vh - 55px);
  }


  #link-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 4;
  }

  .logs-container {
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    left: 0;
    z-index: 1;
    background-color: var(--editor-bg-color) !important;
  }

  .logs-container pre {
    color: var(--log-bg-color);
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    font-size: 12px;
  }

  #viewer {
    z-index: 0;
  }

  #viewer.focused {
    z-index: 3;
  }

  /* .settings, */
  .features
}

/**********************************************************/
/* MONACO EDITOR */
/**********************************************************/

#monacoEditor {
  flex-grow: 1;
}

  .minimap.slider-mouseover {
    height: 80vh !important;
    bottom: 0;
  }

  .monaco-editor {
    background-color: var(--editor-bg-color) !important;
  }

  .overflow-guard,
  .monaco-scrollable-element,
  .monaco-editor-background {
    background-color: transparent !important;
  }

  #monacoEditor {
    z-index: 0;
  }


/**********************************************************/
/* Part chooser overlay
/**********************************************************/
/* The Overlay (background) */
.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: var(--part-finder-bg);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.2s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* The hero image */
.hero-image {
  display:block;
  background-image: rgb(100, 100, 150), url("assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 80px;

  position: relative;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*********************************************************************/
/* Part gallery grid */
/* From https://www.imarketinx.de/artikel/responsive-image-gallery-with-css-grid.html */
/*********************************************************************/
/* First the Grid */
.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 0.0rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  width:134px;
  height:146px;
  padding: .5rem;
  font-size: 1.0rem;
  text-align: center;
  background-color: var(--part-finder-frame);
  color: var(--part-finder-text);
}

/* The Picture Frame */
.gallery-frame {
  width:134px;
  height:146px;
  padding: .5rem;
  font-size: 1.0rem;
  text-align: center;
  background-color: var(--part-finder-frame);
  color: var(--part-finder-text);
}

/* The Images */
.gallery-img {
  width:128px;
  height:128px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: .7;
}


/*************************************************************************/
/* MORE TAB STUFF */
/*************************************************************************/
.tabs {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 500px;
}
 
.tabs label {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: var(--tab-label-bg);
  font-weight: bold;
  transition: background ease 0.1s;
}
 
.tabs .tabx {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: var(--tab-bg-color);
  padding: 20px;
}
 
.tabs input[type="radio"] {
  display: none;
}
 
.tabs input[type="radio"]:checked + label {
  background: var(--tab-checked-bg);
}
 
.tabs input[type="radio"]:checked + label + .tabx {
  display: block;
}
 
@media (max-width: 465px) {
  .tabs .tabx,
  .tabs label {
   order: initial;
  }
 
  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}
